   <!DOCTYPE html>
   <html lang="zh-cn">
   <head>
       <meta charset="UTF-8" />
       <title>智能药师系统</title>
       <style >
        body{background:url(static/img/bg.jpg) top left;
        background-size:100%;}
        .btn{
				border-radius: 12px;
				width: 135px;
				height: 49px;
				cursor: pointer;
				background-color: gray;
				font-weight:bold;
                background: rgba(255, 255, 255, 0.7);
			}
       </style>
   </head>
   <body >

   <div  sytle="width:520px" align="center">
    <br> <br> <br> <br> <br> <br>
    <h2>欢迎来到智能药师系统，请选择您要查询的项目：</h2>
   <br> <br> <br>
   <input type="button"  value="病症可用药物查询" class="btn"  onclick="window.location.href=('/SearchDrug')">
   <br><br> <br> <br>
  <input type="button"  value="处方合理性判断" class="btn" onclick="window.location.href=('/CheckScript')">
  </div>


   </body>
  </html>


